<div id="<%= dom_id trabajo %>">
  <p>
    <strong>Cargo:</strong>
    <%= trabajo.cargo %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= trabajo.area %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= trabajo.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= trabajo.user_id %>
  </p>

</div>
